@page
@model Emigrant.App.Presentacion.Pages.RegistrarServiciosModel
@{
}

<div class="card-header" style="background-color:#FCC16D;">
    <h1 class="card-title">Registro de servicios</h1>
</div>

@section Scripts {

<script src="~/adminlte/plugins/moment/moment.min.js"></script>
<script src="~/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>


<script>
    $(function () {
        $('#FechaInicio').datetimepicker({
            format: 'L'
        })
    })
    $(function () {
        $('#FechaFinal').datetimepicker({
            format: 'L'
        })
    })
</script>
}

<form method="post">

    <div>
        <input type="text" class="form-control" id="TipoNecesidad" placeholder="*TipoNecesidad" name="TipoNecesidad" required>
        <input type="text" class="form-control" id="Detalle" placeholder="*Detalle" name="Detalle" required>

    </div>
    <div>
        <input type="text" class="form-control" id="Clasificacion" placeholder="Clasificacion" name="Clasificacion">
        
    </div>

    <div>
        <input type="text" class="form-control" id="Evaluacion" placeholder="Evaluacion" name="Evaluacion">
        
    </div>

    <div >
		<select class="form-control" name="Categoria" id="Categoria" onchange="ShowSelected()" required>
			<option value="">Seleccione los tipos de servicios</option>
			<option value="Salud">Salud</option>
			<option value="Juridicos">Juridicos</option>
			<option value="Viveres">Viveres</option>
			<option value="Comida Preparada">Comida Preparada</option>
			<option value="Empleo">Empleo</option>
			<option value="Alojamiento Temporal">Alojamiento Temporal</option>
			<option value="Alojamiento Permanente">Alojamiento Permanente</option>
			<option value="Educacion">Educacion</option>
			<option value="Otro">Otro</option>
		</select>
	</div>

    
    <div>
        <div class="form-group">
            <label>Fecha de Inicio:</label>
            <div id="FechaInicio" class="input-group date" data-target-input="nearest">
                <input class="form-control datetimepicker-input" type="text" data-target="#FechaInicio"
                    name="FechaI">
                <div class="input-group-append" data-target="#FechaInicio" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        
    </div>

    <div>
        <div class="form-group">
            <label>Fecha Final:</label>
            <div id="FechaFinal" class="input-group date" data-target-input="nearest">
                <input class="form-control datetimepicker-input" type="text" data-target="#FechaFinal"
                    name="FechaF">
                <div class="input-group-append" data-target="#FechaFinal" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        
    </div>


    <div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Add"
            style="background-color:#FB6A3B; ">Registrar Usuario</button>
    </div>
</form>

@if (Model.status == 1)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Mensaje</h5>
                @Model.message
            </div>
        </div>
    </div>
}

@if (Model.status == 2)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i>Mensaje</h5>
                @Model.message
            </div>
        </div>
    </div>
}