@page
@model Emigrant.App.Presentacion.Pages.ActualizarInformacionModel
@{
}


<div class="card-header" style="background-color:#FCC16D;">
    <h1 class="card-title">Actualizar informacion</h1>
</div>

@section Scripts {

<script src="~/adminlte/plugins/moment/moment.min.js"></script>
<script src="~/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>


<script>
	$(function () {
		$('#FechaNacimiento').datetimepicker({
			format: 'L'
		})
	})
</script>
}

<form method="post">


    <div>
        <input asp-for="migranteEncontrado.Id" type="hidden" class="form-control" id="Id"  name="Id" >
        <input asp-for="migranteEncontrado.Nombre" type="text" class="form-control" id="Nombre" placeholder="*Nombres"
            name="Nombre" required>
        <input asp-for="migranteEncontrado.Apellido" type="text" class="form-control" id="Apellido"
            placeholder="*Apellidos" name="Apellido" required>

    </div>
    <div>
        <input asp-for="migranteEncontrado.Direccion" type="text" class="form-control" id="Direccion"
            placeholder="Direccion" name="Direccion">
        <input asp-for="migranteEncontrado.Ciudad" type="text" class="form-control" id="Ciudad" placeholder="Ciudad"
            name="Ciudad">
    </div>

    <div>
        <div>
            <select asp-for="migranteEncontrado.TipoDoc" name="TipoDoc" id="TipoDoc" onchange="ShowSelected()" required>
                <option value="">Seleccione tipo de documento</option>
                <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Visa">Visa</option>
                <option value="No tiene">No tiene</option>
            </select>
        </div>
        <input asp-for="migranteEncontrado.Documento" type="number" class="form-control" id="Documento" placeholder="*Numero documento" name="Documento"
            required>
    </div>

    <div>
        <div class="form-group">
			<label>Fecha de Nacimiento:</label>
			<div id="FechaNacimiento" class="input-group date" data-target-input="nearest">
				<input asp-for="migranteEncontrado.FechaNacimiento" class="form-control datetimepicker-input" type="text" data-target="#FechaNacimiento" name="Fecha">
				<div class="input-group-append" data-target="#FechaNacimiento" data-toggle="datetimepicker">
					<div class="input-group-text"><i class="fa fa-calendar"></i></div>
				</div>
			</div>
		</div>
        <input asp-for="migranteEncontrado.FechaNacimiento" type="text" class="form-control" id="FechaNacimiento"
            placeholder="*Fecha de Nacimiento" name="FechaNacimiento" required>
        <input asp-for="migranteEncontrado.PaisOrigen" type="text" class="form-control" id="PaisOrigen" placeholder="*Pais Origen" name="PaisOrigen" required>
    </div>

    <div>
        <div>
            <select asp-for="migranteEncontrado.SituacionLaboral" class="form-control" name="SituacionLaboral"
                id="SituacionLaboral" onchange="ShowSelected()">
                <option value="">Seleccione su situacion laboral</option>
                <option value="Empleado">Empleado</option>
                <option value="Trabajo independiente">Trabajo independiente</option>
                <option value="Desempleado">Desempleado</option>
            </select>
        </div>
        <input asp-for="migranteEncontrado.Telefono" type="text" class="form-control" id="Telefono"
            placeholder="Telefono" name="Telefono">
    </div>

    <div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Update"
            style="background-color:#FB6A3B; ">Actualizar</button>
    </div>
</form>

@if (Model.status == 1) {
              <div class="row">
                  <div class="col-md-12">
                      <div class="alert alert-success alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <h5><i class="icon fas fa-ban"></i> Mensaje</h5>
                          @Model.message
                      </div>
                  </div>
              </div>
            }

@if (Model.status == 2) {
      <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-ban"></i>Mensaje</h5>
              @Model.message
            </div>
        </div>
      </div>
    } 