@page
@model Emigrant.App.Presentacion.Pages.RegisterEModel
@{
}
<div class="card-header" style="background-color:#FCC16D;">
		<h1 class="card-title" >Registro de Entidad</h1>
	</div>

<form method="post">
	
	<div class="card-header" style="background-color:#FCC16D;">
		<h1 class="card-title" >Registro de Entidad</h3>
	</div>

	<div >
		<input type="email" class="form-control" id="Correo" placeholder="Correo" name="Correo" required>
	</div>
	<div >
		<input type="password" class="form-control" required minlength="8" min="10" id="Contrasena" placeholder="Contraseña" name="Contrasena" required>
	</div>
	
	<div >
		<input type="text" class="form-control" id="RazonSocial" placeholder="Razon Social" name="RazonSocial" required>
		<input type="number" class="form-control" id="NIT" placeholder="NIT" name="NIT" required>
	</div>
	
	<div >
		<input type="text" class="form-control" id="Direccion" placeholder="Direccion" name="Direccion" required>
		<input type="text" class="form-control" id="Ciudad" placeholder="Ciudad" name="Ciudad" required>
		<input type="number" class="form-control" id="Telefono" placeholder="Telefono" name="Telefono" required>
	</div>
	
	
	<div >
		<select  name="Sector" id="Sector" onchange="ShowSelected()" required>
			<option value="">Seleccione el sector de la Entidad</option>
			<option value="PU">Publico</option>
			<option value="PRI">Privado</option>
			<option value="SinA">Sin animo de lucro</option>
			<option value="NG">No gubernamental</option>
			<option value="OTR">Otro</option>
		</select>
		
	</div>
	
	<div >
		<select class="form-control" name="TipoServicios" id="TipoServicios" onchange="ShowSelected()" required>
			<option value="">Seleccione los tipos de servicios</option>
			<option value="SAL">Salud</option>
			<option value="JUR">Juridicos</option>
			<option value="VIV">Viveres</option>
			<option value="CPRE">Comida Preparada</option>
			<option value="EMP">Empleo</option>
			<option value="ATEM">Alojamiento Temporal</option>
			<option value="APER">Alojamiento Permanente</option>
			<option value="EDU">Educacion</option>
			<option value="OTR">Otro</option>
		</select>
	</div>
	
	<div >
	<div >
            <button type="submit" class="btn btn-primary" asp-page-handler="Add" style="background-color:#FB6A3B; ">Registrar Entidad</button>
    </div>
</form>

@if (Model.status == 2) {
      <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-ban"></i>Mensaje</h5>
              @Model.message
            </div>
        </div>
      </div>
    } 